.confirmation-overlay {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  cursor: default;
  z-index: 998;

  > .confirmation-dialog {
    width: 500px;
    background-color: var(--note-background-dark);
    padding: 20px;
    z-index: 999;

    > h2 {
      margin-bottom: 10px;
    }

    > p {
      margin-bottom: 30px;
    }

    > .buttons {
      display: flex;
      justify-content: flex-end;

      > button {
        cursor: pointer;
        margin-left: 20px;
        border: none;
        background-color: transparent;
        font-weight: 600;
      }

      > .delete {
        color: #ff0000;
      }

      > button:hover {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 600px) {
  .confirmation-overlay {
    > .confirmation-dialog {
      width: 350px;
    }
  }
}